<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<meta charset="utf-8">
<head>
  <title th:text="#{lang.listOrders}"></title>

  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div id="home"></div>
<div class="ournet-inter-area">
  <header id="header" class="header-area">
    <div class="logoBlock">
      <div style="font-size: 16px; text-align: end;">
        <a class="loginBtn" th:href="@{/mainAdmin/order(lang='ru')}">RU</a>
        <a class="loginBtn" th:href="@{/mainAdmin/order(lang='en')}">EN</a>
      </div>
      <p id="pageLogo">ISPAdmin</p>
      <div class="adminmenu">
        <ul>
          <li><a class="scroll-animite btn"
                 href="/mainAdmin" th:text="#{lang.admin}"></a>
          </li>
          <li><a class="scroll-animite logOutBtn"
                 href="/logout" th:text="#{lang.logout}"></a></li>
        </ul>
      </div>
    </div>


    <div id="time"><span id="datetime"></span></div>
  </header>
  <!-- Slider area Start -->
  <div class="slider-area">
    <div class="slider-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slidertext">
              <h1 th:text="#{lang.listOrders}"></h1>
            </div>
          </div>
          <div class="plansBlock">
            <table class="tableService sortable">
              <thead>
              <tr>
                <th>#</th>
                <th th:text="#{lang.namePerson}"></th>
                <th>Email</th>
                <th th:text="#{lang.idBook}"></th>
                <th th:text="#{lang.nameBook}"></th>
                <th th:text="#{lang.author}"></th>
                <th th:text="#{lang.accept}"></th>
                <th th:text="#{lang.reject}"></th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="ord: ${order}" class="highlight">
                <td th:text="${ord.getUserId}"></td>
                <td th:text="${ord.getUserName}"></td>
                <td th:text="${ord.email}"></td>
                <td th:text="${ord.getBookId}"></td>
                <td th:text="${ord.getBookName}"></td>
                <td th:text="${ord.author}"></td>
                <form action="/mainAdmin/order/accept" method="post">
                  <td>
                    <button type="submit" onclick="return confirm('acceptConfirm')" th:text="#{lang.accept}" ></button>
                    <input type="hidden" name="id" value="id" th:attr="value=${ord.getUserId}"/>
                    <input type="hidden" name="id_book" value="id_book" th:attr="value=${ord.getBookId}"/>
                  </td>
                </form>
                <form action="/mainAdmin/order/reject" method="post">
                  <td>
                  <button type="submit" onclick="return confirm('rejectConfirm')" th:text="#{lang.reject}"></button>
                  <input type="hidden" name="id" value="id" th:attr="value=${ord.getUserId}"/>
                  <input type="hidden" name="id_book" value="id_book" th:attr="value=${ord.getBookId}"/>
                  </td>
                </form>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
