<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<meta charset="utf-8">
<head>
  <title>Order</title>

  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div id="home"></div>
<div class="ournet-inter-area">
  <header id="header" class="header-area">
    <div class="logoBlock">
      <div style="font-size: 16px; text-align: end;">
        <a class="btn" href="${pageContext.request.contextPath}/view/language/admin/orderPage?language=RU">RU</a>
        <a class="btn" href="${pageContext.request.contextPath}/view/language/admin/orderPage?language=EN">EN</a>
      </div>
      <p id="pageLogo">ISPAdmin</p>
      <div class="adminmenu">
        <ul>
          <li><a class="scroll-animite btn"
                 href="/mainAdmin">admin</a>
          </li>
          <li><a class="scroll-animite logOutBtn"
                 href="/logout">logout</a></li>
        </ul>
      </div>
    </div>


    <div id="time"><span id="datetime"></span></div>
  </header>
  <!-- Slider area Start -->
  <div class="slider-area">
    <div class="slider-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slidertext">
              <h1>listOrders</h1>
            </div>
          </div>
          <div class="plansBlock">
            <table class="tableService sortable">
              <thead>
              <tr>
                <th>#</th>
                <th>namePerson</th>
                <th>Email</th>
                <th>idBook</th>
                <th>nameBook</th>
                <th>author</th>
                <th>accept</th>
                <th>reject</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="ord: ${order}" class="highlight">
                <td th:text="${ord.id_user}"></td>
                <td th:text="${ord.name_user}"></td>
                <td th:text="${ord.email}"></td>
                <td th:text="${ord.id_book}"></td>
                <td th:text="${ord.name_book}"></td>
                <td th:text="${ord.author}"></td>
                <form action="/mainAdmin/order/accept" method="post">
                  <td>
                    <button type="submit" onclick="return confirm('acceptConfirm')" >accept</button>
                    <input type="hidden" name="id" value="id" th:attr="value=${ord.id_user}"/>
                    <input type="hidden" name="id_book" value="id_book" th:attr="value=${ord.id_book}"/>
                  </td>
                </form>
                <form action="/mainAdmin/order/reject" method="post">
                  <td>
                  <button type="submit" onclick="return confirm('rejectConfirm')" >reject</button>
                  <input type="hidden" name="id" value="id" th:attr="value=${ord.id_user}"/>
                  <input type="hidden" name="id_book" value="id_book" th:attr="value=${ord.id_book}"/>
                  </td>
                </form>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
