<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<meta charset="utf-8">

<head>
  <title>Navigation</title>

  <link rel="stylesheet" th:href="@{/style.css}"/>

</head>

<body style="zoom: 90%" >
<div id="home"></div>
<div class="ournet-inter-area">
  <header id="header" class="header-area">
    <div class="logoBlock">
      <div style="font-size: 16px; text-align: end;">
        <a class="btn" href="${pageContext.request.contextPath}/view/language/personInfoBookPage?language=RU">RU</a>
        <a class="btn" href="${pageContext.request.contextPath}/view/language/personInfoBookPage?language=EN">EN</a>
      </div>
      <p id="pageLogo">navigation</p>
      <div class="adminmenu">
        <ul>
          <li><a class="scroll-animite btn"
                 href="/userPage/userBook">myBooks</a>
          </li>
          <li><a class="scroll-animite btn"
                 href="/userPage/userOrder">myOrders</a></a>
          </li>
          <li><a class="scroll-animite btn"
                 href="/userPage">userPage</a></a>
          </li>
          <li><a class="scroll-animite logOutBtn"
                 href="/logout">logout</a></li>
        </ul>
      </div>
    </div>


    <div id="time"><span id="datetime"></span></div>
    <script src="${pageContext.request.contextPath}/styles/js/time.js"></script>

  </header>
  <!-- Slider area Start -->
  <div class="slider-area">
    <div class="slider-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slidertext">
              <h1>Your info</h1>
            </div>
          </div>
          <div class="userInfo">
            <h4>myBooks :${books} </h4>
            <h4>myOrders :${orders}</h4>
            <h4>debt: ${debt}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


