<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<meta charset="utf-8">

<head>
  <title>List of orders</title>

  <link rel="stylesheet" th:href="@{/style.css}"/>

</head>

<body style="zoom: 90%" >
<div id="home"></div>
<div class="ournet-inter-area">
  <header id="header" class="header-area">
    <div class="logoBlock">
      <div style="font-size: 16px; text-align: end;">
        <a class="loginBtn" th:href="@{/userPage/userOrder(lang='ru')}">RU</a>
        <a class="loginBtn" th:href="@{/userPage/userOrder(lang='en')}">EN</a>
      </div>
      <p id="pageLogo" th:text="#{lang.myLibrary}"></p>
      <div class="adminmenu">
        <ul>
          <li><a class="scroll-animite btn"
                 href="/userPage" th:text="#{lang.personPage}"></a>
          </li>
          <li><a class="scroll-animite logOutBtn"
                 href="/logout" th:text="#{lang.logout}"></a></li>
        </ul>
      </div>
    </div>

    <div id="time"><span id="datetime"></span></div>
  </header>
  <!-- Slider area Start -->
  <div class="slider-area">
    <div class="slider-bg text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="slidertext">
              <h1 th:text="#{lang.myOrders}"></h1>
            </div>
          </div>
          <div class="plansBlock">
            <table class="tableService sortable">
              <thead>
              <tr>
                <th th:text="#{lang.name}"></th>
                <th th:text="#{lang.author}"></th>
                <th th:text="#{lang.genre}"></th>
                <th th:text="#{lang.publisher}"></th>
                <th th:text="#{lang.publisherDate}"></th>
                <th th:text="#{lang.description}"></th>
                <th th:text="#{lang.price}"></th>
                <th th:text="#{lang.decline}"></th>
              </tr>
              </thead>
              <tbody>
                <tr th:each="order: ${orders}" class="highlight">
                  <td th:text="${order.name}"></td>
                  <td th:text="${order.author}"></td>
                  <td th:text="${order.genre}"></td>
                  <td th:text="${order.publisher}"></td>
                  <td th:text="${order.publisherDate}"></td>
                  <td th:text="${order.description}"></td>
                  <td th:text="${order.price}"></td>
                  <form action="/userPage/userOrder/decline" method="post">
                    <td>
                      <button type="submit" onclick="return confirm('declineOrderConfirm')" th:text="#{lang.decline}"></button>
                      <input type="hidden" name="id" value="id" th:attr="value=${order.id}"/>
                    </td>
                  </form>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>


