<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<meta charset="utf-8">

<head>
  <title>404</title>

  <link rel="stylesheet" th:href="@{/style.css}"/>

</head>
<body>


<div align="centre">
  <h2>404</h2>
  <br>
  <p>error</p>
</div>
<form class="w3-container" align="center" method="post"
      action="/logout">
  <div class="w3-container w3-grey w3-opacity w3-right-align w3-padding">
    <div>
      <input class="w3-button w3-margin-bottom w3-green" type="submit"
             value="logout">
    </div>
  </div>
</form>
</body>
</html>