
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<meta charset="utf-8">

<head>
    <title th:text="#{lang.mainPage}"></title>

    <link rel="stylesheet" th:href="@{/style.css}"/>

</head>

<body style="zoom: 90%" >
<div id="home"></div>
<div class="ournet-inter-area">
    <header id="header" class="header-area">
        <div class="logoBlock">
            <div style="font-size: 16px; text-align: end;">
                <a class="loginBtn" th:href="@{/mainPage(lang='ru')}">RU</a>
                <a class="loginBtn" th:href="@{/mainPage(lang='en')}">EN</a>
            </div>
            <p id="pageLogo" th:text="#{lang.myLibrary}" ></p>
            <div class="searchFormDiv">
                <form class="searchForm" method="post"
                      action="/search" >
                    <p>
                        <label>
                            <input class="searchField" type="search"  th:value="#{lang.searchSite}"
                            name="search">
                        </label>
                    </p>
                    <div>
                        <input class="searchBtn" type="submit"
                               th:value="#{lang.search}" name="sear">
                    </div>

                        <div class="notFoundMessage" th:if="${notFoundSearch}">
                            <p th:text="#{lang.notFoundSearch}" ></p>
                        </div>

                </form>
            </div>
            <div class="mainmenu">
                <ul>
                    <li><a class="scroll-animite btn"
                           href="/registration" th:text="#{lang.registration}" >registration</a></li>
                    <li><a class="scroll-animite btn"
                           href="/login" th:text="#{lang.login}" >login</a></li>
                </ul>
            </div>
        </div>

        <div id="time"><span id="datetime"></span></div>
    </header>
    <!-- Slider area Start -->
    <div class="slider-area">
        <div class="slider-bg text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slidertext">
                            <h1 th:text="#{lang.mainPage}" ></h1>
                        </div>
                    </div>
                    <div class="plansBlock">
                            <div class="serviceBlock" th:if="${successfulFound}">
                                <table class="tableService sortable">
                                    <thead>
                                    <tr>
                                        <th th:text="#{lang.name}"></th>
                                        <th th:text="#{lang.author}"></th>
                                        <th th:text="#{lang.genre}"></th>
                                        <th th:text="#{lang.publisher}"></th>
                                        <th th:text="#{lang.publisherDate}"></th>
                                        <th th:text="#{lang.description}"></th>
                                        <th th:text="#{lang.price}"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="items: ${searchBooks}" class="highlight">
                                        <td th:text="${items.name}"></td>
                                        <td th:text="${items.author}"></td>
                                        <td th:text="${items.genre}"></td>
                                        <td th:text="${items.publisher}"></td>
                                        <td th:text="${items.publisherDate}"></td>
                                        <td th:text="${items.description}"></td>
                                        <td th:text="${items.price}"></td>
                                        </tr>
                                    </th:forEach>
                                    </tbody>
                                </table>
                            </div>

                        <div class="serviceBlock">
                            <div class="mainmenuSort">
                                <ul class="topSort">
                                    <li><a class="btnSort">sort<i
                                            class="fa fa-angle-down"></i></a>
                                        <ul class="subSort">
                                            <li>
                                                <a href="/sort?sort=sortName" th:text="#{lang.name}" ></a>
                                            </li>
                                            <li>
                                                <a href="/sort?sort=sortAuthor" th:text="#{lang.author}"></a>
                                            </li>
                                            <li>
                                                <a href="/sort?sort=sortPublisher" th:text="#{lang.publisher}"></a>
                                            </li>
                                            <li>
                                                <a href="/sort?sort=sortPublisherDate" th:text="#{lang.publisherDate}"></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <table class="tableService sortable">
                                <thead>
                                <tr>
                                    <th th:text="#{lang.name}"></th>
                                    <th th:text="#{lang.author}"></th>
                                    <th th:text="#{lang.genre}"></th>
                                    <th th:text="#{lang.publisher}"></th>
                                    <th th:text="#{lang.publisherDate}"></th>
                                    <th th:text="#{lang.description}"></th>
                                    <th th:text="#{lang.price}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="book: ${allBooks}" class="highlight">
                                        <td th:text="${book.name}"></td>
                                        <td th:text="${book.author}"></td>
                                        <td th:text="${book.genre}"></td>
                                        <td th:text="${book.publisher}"></td>
                                        <td th:text="${book.publisherDate}"></td>
                                        <td th:text="${book.description}"></td>
                                        <td th:text="${book.price}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>