
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">


<meta charset="utf-8">
<head>
    <title th:text="#{lang.login}"></title>
    <title>login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <link rel="stylesheet" th:href="@{/style.css}"/>

<body>

<div class="slider-area ">
    <div class="slider-bgLogin text-center">
        <div class="container">
            <div class="row">
                <div class="slidertext">
                    <h3 th:text="#{lang.login}"></h3>
                </div>
                <div class="tableTariffs">
                    <div class="localRegistrationBlock">
                        <a class="loginBtn" href="/mainPage" th:text="#{lang.mainPage}"></a>
                        <a class="loginBtn" th:href="@{/(lang='ru')}">RU</a>
                        <a class="loginBtn" th:href="@{/(lang='en')}">EN</a>
                    </div>
                    <form class="w3-container" align="center" method="post"
                          action="/login" >
                        <p>
                            <label>
                                <input class="profileEditorFields loginField" type="text" required
                                       placeholder="Login" name="username" autofocus="true">
                            </label>
                        </p>

                        <p>
                            <label>
                                <input class="profileEditorFields loginField" type="password" required
                                       placeholder="password"
                                name="password">
                            </label>
                        </p>

                        <div>
                            <input class="btn editProfileBtn" id="loginSubmitBtn" type="submit"
                                   th:value="#{lang.enter}"/>
                        </div>

<!--                        <div th:if="${requestScope.notFound}">-->
<!--                            <div class="w3-container">-->
<!--                                <p><th:message key="invalidData"/></p>-->
<!--                            </div>-->
<!--                        </div>-->


                            <div class="w3-container" th:if="${wrongData}">
                                <p th:text="#{lang.incorrectData}"></p>
                            </div>


                            <div id="center" th:if="${ban}">
                                    <p th:text="#{lang.infoBan}"></p>
                                    <p th:text="#{lang.moreInfoBan}" ></p>
                                    <a href="#">+380661345678</a>
                            </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="registerBlock">
            <a class="loginBtn reg" href="/registration" th:text="#{lang.registration}"></a>
        </div>
    </div>
</div>
</body>
</html>
