
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title th:text="#{lang.registration}"></title>

    <link rel="stylesheet" th:href="@{/style.css}"/>

</head>

<body>
<div class="slider-area">
    <div class="slider-bgLogin text-center">
        <div class="container">
            <div class="row">
                <div class="slidertext">
                    <h3 th:text="#{lang.registration}"></h3>
                </div>
                <div class="tableTariffs" id="registerForm">
                    <div class="localRegistrationBlock">
                        <a class="loginBtn" href="/mainPage" th:text="#{lang.mainPage}" ></a>
                        <a class="loginBtn" th:href="@{/registration(lang='ru')}">RU</a>
                        <a class="loginBtn" th:href="@{/registration(lang='en')}">EN</a>
                    </div>

                    <form class="w3-container" align="center" method="post"
                          action="/registration">
                        <p>
                            <label>
                                <input class="profileEditorFields loginField" type="text" th:placeholder="#{lang.name}"
                                name="name">
                            </label>
                        </p>

                        <p>
                            <label>
                                <input class="profileEditorFields loginField" type="text" required placeholder="Login"
                                       name="username" autofocus="true">
                            </label>
                        </p>

                        <p>
                            <label>
                                <input class="profileEditorFields loginField" type="password" required
                                       placeholder="password"
                                name="password">
                            </label>
                        </p>


                        <input class="btn editProfileBtn" id="loginSubmitBtn" type="submit"
                               th:value="#{lang.registration}">
<!--                        <:if test="${requestScope.wrongData}">-->
<!--                            <div class="w3-container">-->
<!--                                <th:message key="incorrectEmailOrPass"/>-->
<!--                            </div>-->
<!--                        </:if>-->
                            <div class="w3-container" th:if="${alreadyExist}">
                                <p th:text="#{lang.alreadyExistPerson}"></p>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="registerBlock">
            <a class="loginBtn reg" href="/" th:text="#{lang.login}"></a>
        </div>
    </div>
</div>
</body>
</html>

